.section-subtitle {
    margin-top: 0;
    align-items: center;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin-bottom: 60px;
  }