.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* parameters for the header section */
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  height: 31px;
  width: 154px;
  top: 30px;
  left: 64px;
}
.header__title {
  align-self: center;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
.header__square {
  position: absolute;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  justify-content: flex-end;
}
.header__main-ilustration {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 608px;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}
.two-columns__paragraph {
  line-height: 34px;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}
.section-title {
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin-top: 0;
  margin-bottom: 20px;
}
.section-subtitle {
  margin-top: 0;
  align-items: center;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-bottom: 60px;
}

/* including elements with key-value modifiers */

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: space-between;
}
.table__cell {
  list-style: none;
  width: 250px;
  margin-bottom: 60px;
}
.table__heading {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #0f0202;
  display: flex;
  flex-direction: column;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 0;
}
.feynman__title {
  z-index: 1;
  width: 775px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  margin-right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  top: 0;
  right: -124px;
}
.section-title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: 20px;
  width: 60%;
}
.section-subtitle_theme_dark {
  color: white;
  margin-top: 0;
  margin-bottom: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-left: 250px;
}
.table_theme_dark {
  width: 1100px;
  margin-bottom: 90px;
  margin-top: 0;
}
.table__cell_theme_dark {
  z-index: 1;
  width: 200px;
  margin-bottom: 80px;
  color: white;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 350px;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column_content_about {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__list {
  list-style: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}
.footer__social-icons {
  margin-right: 10px;
}
.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}
.logo_place_footer {
  margin-top: 60px;
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
}
